Checks: >
  -*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  bugprone-*,
  -bugprone-unchecked-optional-access,
  performance-*,
  modernize-*,
  readability-*,
  hicpp-*

UseColor: true
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle:     none
# CheckOptions:
#   - key:             readability-identifier-naming.VariableCase
#     value:           lower_case
