Checks: >
  -*,
  bugprone-*,
  -bugprone-unchecked-optional-access,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  hicpp-*,
  linuxkernel-must-check-errs,
  llvm-*,
  -llvm-header-guard,
  modernize-*,
  performance-*,
  readability-*

UseColor: true
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle:     none
# CheckOptions:
#   - key:             readability-identifier-naming.VariableCase
#     value:           lower_case
