# User files
.vscode
.vsconan

# build
build/*

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# Conan
ConanPresets.json

# Debug files
valgrind-out.txt

# Shaders
*.spv
